<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdventurerMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="hsl.matfox.models.Adventurer">
        insert into adventurer (uuid, nick, password, displayNick, permission)
        values (#{uuid}, #{nick}, #{password},#{displayNick}, #{permission})+
    </insert>
</mapper>